<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web Shark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="text-center">
                    <h1>Web Shark!</h1>
                    <form action="#" method="get">
                        <input type="sumit" class="btn btn-lg btn-primary" value="Click" name="capture"/>
                    </form>
                    <select multiple class="unselected form-control" style="margin-top:30px; height: 200px; width: 100%;">
                        <option value="1">test</option>
                    </select>
                    <div style="height: 200px; width: 100%; margin-top:20px; outline:1px solid;">
                    </div>
                    <div style="height: 200px; width: 100%; margin-top:20px; outline:1px solid;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

